body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

.sidebar{
width:220px;
height:100vh;
position:fixed;
background:#5a341d;
color:white;
padding:20px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:10px 0;
}

.content{
margin-left:240px;
padding:30px;
}

.btn{
background:#5e1902;
color:white;
padding:12px 25px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
display:inline-block;
margin-top:15px;
}

.btn:hover{
background:#6a6a03;
}

#search{
width:60%;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
font-size:16px;
margin-bottom:20px;
}

