<!DOCTYPE html>
<html>

<head>
    <title>Edit Menu Item</title>
</head>

<body>

    <h2>Edit Item</h2>

    <form method="POST" enctype="multipart/form-data">
        <label>Name</label>
        <input type="text" name="name" value="{{ item.name }}" required><br><br>

        <label>Category</label>
        <input type="text" name="category" value="{{ item.category }}"><br><br>

        <label>Price</label>
        <input type="number" name="price" value="{{ item.price }}"><br><br>

        <label>Stock</label>
        <input type="number" name="stock" value="{{ item.stock }}"><br><br>

        <label>Upload New Image</label>
        <input type="file" name="image"><br><br>
        
        <p>Current image: {{ item.image }}</p>

        <button type="submit">Update Item</button>
    </form>

    <br>
    <a href="{{ url_for('admin_menu') }}">Back</a>

</body>

</html>