<!DOCTYPE html>
<html>
<head>

<title>Tables</title>

<style>

body{
font-family:Arial;
text-align:center;
}

.table-grid{
display:grid;
grid-template-columns:repeat(4,150px);
gap:20px;
justify-content:center;
margin-top:40px;
}

.table-card{
padding:30px;
border-radius:10px;
font-weight:bold;
color:white;
}

.available{
background:#2ecc71;
}

.occupied{
background:#e74c3c;
}

a{
color:white;
text-decoration:none;
}

</style>

</head>

<body>

<h1>Cafe Tables</h1>

<div class="table-grid">

{% for table in tables %}

<div class="table-card {% if table.status=='available' %}available{% else %}occupied{% endif %}">

Table {{table.table_number}}

<br><br>

{% if table.status=="available" %}

<a href="/book_table/{{table.table_number}}">
Book Table
</a>
{% elif table.status == "occupied" %}

<a href="/free_table/{{table.table_number}}">
<button>Free Table</button>
</a>

{% else %}

Occupied

{% endif %}

</div>

{% endfor %}

</div>

</body>
</html>